body {font-family: Arial,"Helvetica Neue",Helvetica,Arial,sans-serif; }
html {overflow-x:hidden;}


/*header*/
header{background-color: #3A5371}
header .row{padding:10px;}
header .btn-custom{background-color: #CECE88;font-weight:bold;color:#222;}

header .col-xs-12 span{text-align:center;font-size: 14px;
    padding-right: 0px;}
.btn-logout{background-color: #CECE88;font-weight: bold; color: #222; display: inline;}
.btn-logout .fa-sign-out {color: #222;font-size: 1.3em;padding-right: 0;}

.col-xs-12 header span {
    font-size: 16px;
}
header span,header i {color:#E8D50C;font-size: 18px;padding-right: 20px;}
.logo-img{padding-left: 25px;}

/*navbar*/
.navbar-default{background-color: #1BBC9B;border-color: #e7e7e7;}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #5A5859 !important;
    font-size: 1em;
    border-right: 1px solid #A6A4A5;
    background-color: #F7F586 !important;
    font-weight: 600;
    padding-right: 18px;
    padding-left: 22px;
}
.navbar-default .navbar-toggle .icon-bar{background-color: #E8D50C;}
.nav>li>a>img { margin-right: 5px;}

/*main content*/

.main-content{min-height:200px;padding:0 20px;}
.main-content h2{ color: #5A5859;}
.home.main-content{background: url("../img/background.jpg") no-repeat scroll 0 -47px / cover;}
/*SliderPro css - Core :Starts*/
.slider-pro{position:relative;margin:0 auto;-moz-box-sizing:content-box;box-sizing:content-box}.sp-slides-container{position:relative}.sp-mask{position:relative;overflow:hidden}.sp-slides{position:relative;-webkit-backface-visibility:hidden;-webkit-perspective:1000}.sp-slide{position:absolute}.sp-image-container{overflow:hidden}.sp-image{position:relative;display:block;border:none}.sp-no-js{overflow:hidden;max-width:100%}.sp-thumbnails-container{position:relative;overflow:hidden}.sp-bottom-thumbnails,.sp-top-thumbnails{left:0;margin:0 auto}.sp-top-thumbnails{position:absolute;top:0;margin-bottom:4px}.sp-bottom-thumbnails{margin-top:4px}.sp-left-thumbnails,.sp-right-thumbnails{position:absolute;top:0}.sp-right-thumbnails{right:0;margin-left:4px}.sp-left-thumbnails{left:0;margin-right:4px}.sp-thumbnails{position:relative}.sp-thumbnail{border:none}.sp-thumbnail-container{position:relative;display:block;overflow:hidden;float:left;-moz-box-sizing:border-box;box-sizing:border-box}.sp-bottom-thumbnails .sp-thumbnail-container,.sp-top-thumbnails .sp-thumbnail-container{margin-left:2px;margin-right:2px}.sp-bottom-thumbnails .sp-thumbnail-container:first-child,.sp-top-thumbnails .sp-thumbnail-container:first-child{margin-left:0}.sp-bottom-thumbnails .sp-thumbnail-container:last-child,.sp-top-thumbnails .sp-thumbnail-container:last-child{margin-right:0}.sp-left-thumbnails .sp-thumbnail-container,.sp-right-thumbnails .sp-thumbnail-container{margin-top:2px;margin-bottom:2px}.sp-left-thumbnails .sp-thumbnail-container:first-child,.sp-right-thumbnails .sp-thumbnail-container:first-child{margin-top:0}.sp-left-thumbnails .sp-thumbnail-container:last-child,.sp-right-thumbnails .sp-thumbnail-container:last-child{margin-bottom:0}.sp-right-thumbnails.sp-has-pointer{margin-left:-13px}.sp-right-thumbnails.sp-has-pointer .sp-thumbnail{position:absolute;left:18px;margin-left:0!important}.sp-right-thumbnails.sp-has-pointer .sp-selected-thumbnail:before{content:'';position:absolute;height:100%;border-left:5px solid red;left:0;top:0;margin-left:13px}.sp-right-thumbnails.sp-has-pointer .sp-selected-thumbnail:after{content:'';position:absolute;width:0;height:0;left:0;top:50%;margin-top:-8px;border-right:13px solid red;border-top:8px solid transparent;border-bottom:8px solid transparent}.sp-left-thumbnails.sp-has-pointer{margin-right:-13px}.sp-left-thumbnails.sp-has-pointer .sp-thumbnail{position:absolute;right:18px}.sp-left-thumbnails.sp-has-pointer .sp-selected-thumbnail:before{content:'';position:absolute;height:100%;border-left:5px solid red;right:0;top:0;margin-right:13px}.sp-left-thumbnails.sp-has-pointer .sp-selected-thumbnail:after{content:'';position:absolute;width:0;height:0;right:0;top:50%;margin-top:-8px;border-left:13px solid red;border-top:8px solid transparent;border-bottom:8px solid transparent}.sp-bottom-thumbnails.sp-has-pointer{margin-top:-13px}.sp-bottom-thumbnails.sp-has-pointer .sp-thumbnail{position:absolute;top:18px;margin-top:0!important}.sp-bottom-thumbnails.sp-has-pointer .sp-selected-thumbnail:before{content:'';position:absolute;width:100%;border-bottom:5px solid red;top:0;margin-top:13px}.sp-bottom-thumbnails.sp-has-pointer .sp-selected-thumbnail:after{content:'';position:absolute;width:0;height:0;left:50%;top:0;margin-left:-8px;border-bottom:13px solid red;border-left:8px solid transparent;border-right:8px solid transparent}.sp-top-thumbnails.sp-has-pointer{margin-bottom:-13px}.sp-top-thumbnails.sp-has-pointer .sp-thumbnail{position:absolute;bottom:18px}.sp-top-thumbnails.sp-has-pointer .sp-selected-thumbnail:before{content:'';position:absolute;width:100%;border-bottom:5px solid red;bottom:0;margin-bottom:13px}.sp-top-thumbnails.sp-has-pointer .sp-selected-thumbnail:after{content:'';position:absolute;width:0;height:0;left:50%;bottom:0;margin-left:-8px;border-top:13px solid red;border-left:8px solid transparent;border-right:8px solid transparent}.sp-layer{position:absolute;margin:0;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-webkit-font-smoothing:subpixel-antialiased;-webkit-backface-visibility:hidden}.sp-black{color:#FFF;background:#000;background:rgba(0,0,0,.7)}.sp-white{color:#000;background:#fff;background:rgba(255,255,255,.7)}.sp-rounded{border-radius:10px}.sp-padding{padding:10px}.sp-grab{cursor:url(images/openhand.cur),move}.sp-grabbing{cursor:url(images/closedhand.cur),move}.sp-selectable{cursor:default}.sp-caption-container{text-align:center;margin-top:10px}.sp-full-screen{margin:0!important;background-color:#000}.sp-full-screen-button{position:absolute;top:5px;right:10px;font-size:30px;line-height:1;cursor:pointer;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}.sp-full-screen-button:before{content:'\2195'}.sp-fade-full-screen{opacity:0;-webkit-transition:opacity .5s;transition:opacity .5s}.slider-pro:hover .sp-fade-full-screen{opacity:1}.sp-buttons{position:relative;width:100%;text-align:center;padding-top:10px}.sp-button{width:10px;height:10px;border:2px solid #000;border-radius:50%;margin:4px;display:inline-block;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;cursor:pointer}.sp-selected-button{background-color:#000}@media only screen and (min-width:768px) and (max-width:1024px){.sp-button{width:14px;height:14px}}@media only screen and (min-width:568px) and (max-width:768px){.sp-button{width:16px;height:16px}}@media only screen and (min-width:320px) and (max-width:568px){.sp-button{width:18px;height:18px}}.sp-arrows{position:absolute}.sp-fade-arrows{opacity:0;-webkit-transition:opacity .5s;transition:opacity .5s}.sp-slides-container:hover .sp-fade-arrows{opacity:1}.sp-horizontal .sp-arrows{width:100%;left:0;top:50%;margin-top:-15px}.sp-vertical .sp-arrows{height:100%;left:50%;top:0;margin-left:-10px}.sp-arrow{position:absolute;display:block;width:20px;height:30px;cursor:pointer}.sp-vertical .sp-arrow{-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}.sp-horizontal .sp-previous-arrow{left:20px}.sp-horizontal .sp-next-arrow{right:20px}.sp-vertical .sp-previous-arrow{top:20px}.sp-vertical .sp-next-arrow{bottom:20px}.sp-next-arrow:after,.sp-next-arrow:before,.sp-previous-arrow:after,.sp-previous-arrow:before{content:'';position:absolute;width:50%;height:50%;background-color:#FFF}.sp-previous-arrow:before{left:30%;top:0;-webkit-transform:skew(145deg,0deg);-ms-transform:skew(145deg,0deg);transform:skew(145deg,0deg)}.sp-previous-arrow:after{left:30%;top:50%;-webkit-transform:skew(-145deg,0deg);-ms-transform:skew(-145deg,0deg);transform:skew(-145deg,0deg)}.sp-next-arrow:before{right:30%;top:0;-webkit-transform:skew(35deg,0deg);-ms-transform:skew(35deg,0deg);transform:skew(35deg,0deg)}.sp-next-arrow:after{right:30%;top:50%;-webkit-transform:skew(-35deg,0deg);-ms-transform:skew(-35deg,0deg);transform:skew(-35deg,0deg)}.ie7 .sp-arrow,.ie8 .sp-arrow{width:0;height:0}.ie7 .sp-arrow:after,.ie7 .sp-arrow:before,.ie8 .sp-arrow:after,.ie8 .sp-arrow:before{content:none}.ie7.sp-horizontal .sp-previous-arrow,.ie8.sp-horizontal .sp-previous-arrow{border-right:20px solid #FFF;border-top:20px solid transparent;border-bottom:20px solid transparent}.ie7.sp-horizontal .sp-next-arrow,.ie8.sp-horizontal .sp-next-arrow{border-left:20px solid #FFF;border-top:20px solid transparent;border-bottom:20px solid transparent}.ie7.sp-vertical .sp-previous-arrow,.ie8.sp-vertical .sp-previous-arrow{border-bottom:20px solid #FFF;border-left:20px solid transparent;border-right:20px solid transparent}.ie7.sp-vertical .sp-next-arrow,.ie8.sp-vertical .sp-next-arrow{border-top:20px solid #FFF;border-left:20px solid transparent;border-right:20px solid transparent}.sp-thumbnail-arrows{position:absolute}.sp-fade-thumbnail-arrows{opacity:0;-webkit-transition:opacity .5s;transition:opacity .5s}.sp-thumbnails-container:hover .sp-fade-thumbnail-arrows{opacity:1}.sp-bottom-thumbnails .sp-thumbnail-arrows,.sp-top-thumbnails .sp-thumbnail-arrows{width:100%;top:50%;left:0;margin-top:-12px}.sp-left-thumbnails .sp-thumbnail-arrows,.sp-right-thumbnails .sp-thumbnail-arrows{height:100%;top:0;left:50%;margin-left:-7px}.sp-thumbnail-arrow{position:absolute;display:block;width:15px;height:25px;cursor:pointer}.sp-left-thumbnails .sp-thumbnail-arrows .sp-thumbnail-arrow,.sp-right-thumbnails .sp-thumbnail-arrows .sp-thumbnail-arrow{-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}.sp-bottom-thumbnails .sp-previous-thumbnail-arrow,.sp-top-thumbnails .sp-previous-thumbnail-arrow{left:0}.sp-bottom-thumbnails .sp-next-thumbnail-arrow,.sp-top-thumbnails .sp-next-thumbnail-arrow{right:0}.sp-left-thumbnails .sp-previous-thumbnail-arrow,.sp-right-thumbnails .sp-previous-thumbnail-arrow{top:0}.sp-left-thumbnails .sp-next-thumbnail-arrow,.sp-right-thumbnails .sp-next-thumbnail-arrow{bottom:0}.sp-next-thumbnail-arrow:after,.sp-next-thumbnail-arrow:before,.sp-previous-thumbnail-arrow:after,.sp-previous-thumbnail-arrow:before{content:'';position:absolute;width:50%;height:50%;background-color:#FFF}.sp-previous-thumbnail-arrow:before{left:30%;top:0;-webkit-transform:skew(145deg,0deg);-ms-transform:skew(145deg,0deg);transform:skew(145deg,0deg)}.sp-previous-thumbnail-arrow:after{left:30%;top:50%;-webkit-transform:skew(-145deg,0deg);-ms-transform:skew(-145deg,0deg);transform:skew(-145deg,0deg)}.sp-next-thumbnail-arrow:before{right:30%;top:0;-webkit-transform:skew(35deg,0deg);-ms-transform:skew(35deg,0deg);transform:skew(35deg,0deg)}.sp-next-thumbnail-arrow:after{right:30%;top:50%;-webkit-transform:skew(-35deg,0deg);-ms-transform:skew(-35deg,0deg);transform:skew(-35deg,0deg)}.ie7 .sp-thumbnail-arrow,.ie8 .sp-thumbnail-arrow{width:0;height:0}.ie7 .sp-thumbnail-arrow:after,.ie7 .sp-thumbnail-arrow:before,.ie8 .sp-thumbnail-arrow:after,.ie8 .sp-thumbnail-arrow:before{content:none}.ie7 .sp-bottom-thumbnails .sp-previous-thumbnail-arrow,.ie7 .sp-top-thumbnails .sp-previous-thumbnail-arrow,.ie8 .sp-bottom-thumbnails .sp-previous-thumbnail-arrow,
.ie8 .sp-top-thumbnails .sp-previous-thumbnail-arrow{border-right:12px solid #FFF;border-top:12px solid transparent;border-bottom:12px solid transparent}.ie7 .sp-bottom-thumbnails .sp-next-thumbnail-arrow,.ie7 .sp-top-thumbnails .sp-next-thumbnail-arrow,.ie8 .sp-bottom-thumbnails .sp-next-thumbnail-arrow,.ie8 .sp-top-thumbnails .sp-next-thumbnail-arrow{border-left:12px solid #FFF;border-top:12px solid transparent;border-bottom:12px solid transparent}.ie7 .sp-left-thumbnails .sp-previous-thumbnail-arrow,.ie7 .sp-right-thumbnails .sp-previous-thumbnail-arrow,.ie8 .sp-left-thumbnails .sp-previous-thumbnail-arrow,.ie8 .sp-right-thumbnails .sp-previous-thumbnail-arrow{border-bottom:12px solid #FFF;border-left:12px solid transparent;border-right:12px solid transparent}.ie7 .sp-left-thumbnails .sp-next-thumbnail-arrow,.ie7 .sp-right-thumbnails .sp-next-thumbnail-arrow,.ie8 .sp-left-thumbnails .sp-next-thumbnail-arrow,.ie8 .sp-right-thumbnails .sp-next-thumbnail-arrow{border-top:12px solid #FFF;border-left:12px solid transparent;border-right:12px solid transparent}a.sp-video{text-decoration:none}a.sp-video img{-webkit-backface-visibility:hidden;border:none}a.sp-video:after{content:'\25B6';position:absolute;width:45px;padding-left:5px;height:50px;border:2px solid #FFF;text-align:center;font-size:30px;border-radius:30px;top:0;color:#FFF;bottom:0;left:0;right:0;background-color:rgba(0,0,0,.2);margin:auto;line-height:52px}.slider-pro img.sp-image,.slider-pro img.sp-thumbnail{max-width:none;max-height:none;border:none!important;border-radius:0!important;padding:0!important;-webkit-box-shadow:none!important;-mox-box-shadow:none!important;box-shadow:none!important;transition:none;-moz-transition:none;-webkit-transition:none;-o-transition:none}.slider-pro a{position:static;transition:none!important;-moz-transition:none!important;-webkit-transition:none!important;-o-transition:none!important}.slider-pro canvas,.slider-pro embed,.slider-pro iframe,.slider-pro object,.slider-pro video{max-width:none;max-height:none}.slider-pro p.sp-layer{font-size:14px;line-height:1.4;margin:0}.slider-pro h1.sp-layer{font-size:32px;line-height:1.4;margin:0}.slider-pro h2.sp-layer{font-size:24px;line-height:1.4;margin:0}.slider-pro h3.sp-layer{font-size:19px;line-height:1.4;margin:0}.slider-pro h4.sp-layer{font-size:16px;line-height:1.4;margin:0}.slider-pro h5.sp-layer{font-size:13px;line-height:1.4;margin:0}.slider-pro h6.sp-layer{font-size:11px;line-height:1.4;margin:0}.slider-pro img.sp-layer{border:none}
/*SliderPro css - Core : Ends*/

/*home page */
.horn-circle{height: 20px;height: 40px; margin:5px 0 5px 5px; width: 40px;border: 1px solid #222;background: #E8D50C;border-radius: 20px;padding: 6px 4px;}
.announcements-text{font-size: 1em; padding: 5px 10px;}
.horn-circle i{color: #222;}
.horn-circle i:before{font-size:25px;}
.home-container{border-radius:5px; padding:20px;text-align: center}
.home-container .thumbnail {height: 135px;width: 160px;border: 5px solid #f8da9f;background-color:#f9f9f9;border-radius:18px;padding: 12px 0;line-height: 0.9;margin: 15px auto;}
.home .navbar-default{margin-bottom:0;}
.home-container .thumbnail a>img,.home-container .thumbnail>img{width:45px;}
.announcements-section{padding: 5px 0px; color: #fff;}
.announcement { background-color: #1bbc9b; }
.main-content h1 { font-size: 1.7em; margin-top: 15px; }
.navbar.navbar-default { margin-bottom: 0!important;}
.dropdown-menu img { margin-right: 5px;}
/*dashboard page*/

section.blue-box{background-color: #e7f0f9;padding:20px;margin-left:0}
.info-text{color:#78AECA;overflow-wrap: break-word;}
.blue-box div {margin-bottom: 10px;font-size: 1em;margin-left:0}
.info-text > h3 { font-size: 1.3em; }
.dashboard .info-text > h3 { margin-top: 0px;}
.grey-box{background-color:#EFEFEF;}
.row.grey-box{margin:0 20px;padding: 10px;margin-left:0;}
.grey-box hr{border-top: 1px solid #BFBFBF;}
.btn-dashboard{color:#708AA5;background-color: #fff;border:1px solid #708AA5;margin-top:15px;}
.dashboard .btn-dashboard{margin-top:0px;}
/*drivers page*/

.drivers .dataTables_wrapper {margin-top:20px;}
.drivers .dataTables_length{display:none;}
.drivers .dataTable tr,.drivers .dataTable td {background: none !important; color:#3A5371;font-size: 1em;}
.drivers .dataTable tr td:first-child {text-decoration: underline;}
.drivers .dataTable thead th,.drivers .dataTable.no-footer { border-bottom: 1px solid #ddd;}
.drivers .dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td{border-top: 0!important}

/*view menu*/

.fc-toolbar {background: #238EBC;padding: 12px;margin-bottom: 0;}
.fc-toolbar .fc-button {background: none;box-shadow: none;border: none;color: #fff;font-size: 1.2em;}
.main-content .fc-toolbar h2{color: #fff !important;font-size: 1.9em;padding-top: 5px;}
.fc-head{background: #8f8f8f; color: #fff;font-weight: normal;}
.fc-day {background: #fff!important;}
.fc-view-container {padding: 25px;background: #f2f2f2;}
.fc-ltr .fc-basic-view .fc-day-number{ text-align: left;padding: 5px 25px;color:#238EBC;}
.fc-event-container{padding: 5px 25px;}
.fc-event {    padding: 0 18px;background: none;color: #222;border: none;font-weight: 500;font-size: 0.9em;}
.fc-day-grid-event .fc-content{white-space: normal;}
.fc-event:hover{color:#222 !important;}
.fc-content hr {margin-top: 5px;margin-bottom: 10px;border-top:1px solid #ddd;}
.menu .text-green { color: #88C251; font-size: 1.25em; font-style: italic; display: block; margin-top: 10px; }
.fc th{border:0;}

/*change thali size*/
#size_dialog {margin-top: 10%;}
#size_dialog .modal-dialog{background: #EFEFEF;width: 340px;}
.fc-edit-content{padding: 5px;background: #E6F0F9;margin-top: 5px;}
.fc-edit-content-1{padding: 5px;margin-top: 5px;color:#90aeb3}
.fc-edit-content .fa-truck:before{font-size: 1.4em}
.fc-edit-content span{padding: 0 10px;text-decoration: underline;color: #238EBC;}
.fc-edit-content .fa-chevron-right{color: #238EBC;}
.modal-footer{border:none;margin-bottom:25px;text-align: center;}
#size_dialog .modal-body div{padding: 10px 0 25px;font-size: 1.5em;color: #475C79;}
.modal-content{background: #EFEFEF;border-radius: 0;padding: 0 20px;}
.modal-footer .btn {width: 90px;border-radius: 0;}
.modal-footer .btn:hover{color:#fff;}
.modal-footer .form-control {border-radius: 0;}
.user-reg .form-group{min-height:88px}
.dropdown-menu > li > a {padding: 5px 20px}
#delivery .modal-body { padding: 0px; } 
.fc-list-item-title hr {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
/*survey*/

#review_dialog hr{border-top: 1px solid #B7B7B7;}
#review_dialog .modal-dialog{background: #EFEFEF;/*width: 340px;*/}
#review_dialog .modal-content{background: #FFF;}
.rating-info{margin-top:15px;}
.terrible-rating,.poor-rating,.average-rating,.good-rating,.excellent-rating{background:url("../img/rating.png");height: 9px;display:inline-block;}
.terrible-rating{width:10px;}
.poor-rating{width:20px;}
.average-rating{width:30px;}
.good-rating{width:40px;}
.excellent-rating{width:49px;}
.modal-content .title{padding: 10px 0 25px;font-size: 1.5em;color: #475C79;}
.modal-body label{font-weight:100}

/*login*/
.menu-section h4 {color: #475D74;font-weight: bold;font-size: 0.9em;border-bottom:1px solid #797E84;padding-bottom: 10px}
.menu-section .caterer-info {border-top:1px solid #797E84;padding-top: 5px;font-size: 0.8em;color: #475D74;}
/*.menu-section hr{border-top:1px solid #797E84;}*/
.menu-box {background:#EFEFEF;margin:10px 0 10px 10px;text-align: left;padding: 10px;width: 18.6%; float: left; min-height: 200px;}
.menu-box:last-child{margin-right: 0;}
.menu-err.menu-name{color:#cc0000;min-height: 110px;font-weight: bold;}
.no-thali{display:none;}
.menu-err .no-thali{display:block}
.menu-name{color:#88C251;min-height: 110px;}
.menu-date{color:#C3C3C3;margin-top: -14px;font-style: italic;}
.menu-date{color:#C3C3C3;margin-top: -14px;font-style: italic;}
.col-xs-6.menu-box,.col-xs-6.menu-box{margin-top:10px;}
.login-bg {background: url(../img/bg.jpg);width: 100%;height: 850px;background-repeat: no-repeat;background-size: cover;}
.login-logo{width: 100%;
    margin: 20px auto 30px;}

.login-container {
    height: auto;
    background: #1BBC9B;
    padding: 18px;
    color: #fff;
    border-radius: 5px;
}
.inner-container {
    background: #f9f9f9;
    color: #35536D;
    padding: 25px 5px;
    border-radius: 5px;
}
.login-content .inner-container {
    border-radius: 0;
    min-height: 560px;
}
.login-content .form-control {
    margin-top: 0;
    margin-top: 0;
}
.inner-container .form-control, .inner-container .btn {
    margin-bottom: 10px;
    width: 100%;
    height: 45px;
    margin-top: 20px;
    text-align: center;
}
.inner-container .form-control{background-color: #F2F2F2}
.login-container >div {
    padding-bottom: 10px;font-weight: bold;
}
.btn-orange{background-color: #FED77C;}
.inner-container .btn.btn-dashboard.nh {
    margin-top: 20px;
}
 .login-content-right {
    background: #fff;
    overflow: hidden;
    padding: 0;
    margin-left: 3%;
}
.btn.btn-dashboard.nh {
    color: #3b5272;
    font-weight: bold;
    height: auto;
}
.inner-container .form-control{margin-bottom: 10px;}
.carousel-control.left, .carousel-control.right {
    background-image: none;
}



.btn.btn-dashboard.nh {color: #3b5272; font-weight: bold; height: auto;}
.login-content .form-control { margin-top: 0; margin-top: 0;}
.login-content .form-group { margin-bottom: 0; }
.login-content .login-top{margin-bottom: 50px;}
.login-content .inner-container {border-radius: 0;min-height: 560px;}
.menu-header{background: #1BBC9B;color: #fff;padding: 16px;font-weight: 700;margin-top: 5px;}
.login-content-right {background: #fff; overflow: hidden;padding: 0;margin-left:3%;}
.inner-container .btn.btn-orange {margin-bottom: 20px;}
.inner-container .btn.btn-dashboard.nh {margin-top: 20px;}
.carousel-control.left, .carousel-control.right { background-image: none; }
.carousel-control{opacity: 1; top: 42%}
.carousel-indicators .active { background-color: #1bbc9b; }
.carousel-indicators li { border: 1px solid #1bbc9b;}


/*vacation planner*/

.input-group{border: 1px solid #ddd;background-color: #fff;padding: 2px;border-radius: 5px;}
.input-group input{border: 0;}

.btn-custom{background-color: #1BBC9B;color:#fff;}
.btn-grey{color:#fff !important;background-color: #8E8E8E;}
.vacation-container,.grey-container{padding: 20px;border: 1px solid #ddd;background: #EFEFEF;border-top: 1px solid #8E8E8E;margin-left:20px;}
/*.grey-container .form-control{width:45%;}*/
/*.vacation-container .form-control{width:66%;}*/
.vacation-container label,.grey-container label{color: #3A5371;font-size: 17px;}
.text-error{color:red;font-style: italic;}
.navbar-default img{height: 22px;width: 22px;margin-top: -3px;}
.bold{font-weight:bold;}
.text-green{color:#88C251;}
.rating-symbol { margin-right: 2%; }
hr.m-hr { margin-bottom: 15px; margin-top: 0px; }
.table-striped > tbody > tr:nth-of-type(2n+1) { background-color: #fff; }
/*edit profile*/

.edit-profile>.row {margin-top: 20px;}
.btn-populate{background-color:#70A9D4;margin-left:20px; width:200px;border-radius:0;color:#fff;font-size:1.3em;}
/*.btn:hover{color:#fff;}*/
.edit-profile .tab-content .form-group{margin-bottom:30px;}
.edit-profile .tab-content .form-control{border-radius: 0;}
.edit-profile .tab-content .form-group label{color: #3A5371;  font-size: 1.2em; font-weight: normal;}
.edit-profile .nav-tabs>li>a{font-size: 1.3em;color: #b2b2b2;border: 1px solid #efefef;border-radius: 0;padding: 15px 40px;margin-bottom: -2px;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{background: #efefef;border-color: #efefef;color: #70A9D4;font-size: 1.3em;margin-left:0;}
.edit-profile .tab-content>.active {padding: 30px 45px;background: #efefef;min-height: 370px;}
.edit-profile .tab-content .btn{border-radius: 0;padding: 10px 35px;font-size: 1.3em;}
.edit-profile .grey-container .form-control{width:300px; border-radius:0;}
.edit-profile .grey-container label{margin-bottom:20px;}
.min-h { min-height: 85px; }

.fc-list hr { margin-top: 5px !important; margin-bottom: 5px !important; }
/*media queries*/


/*footer*/

footer{width: 100%; text-align: center; background-color: #3A5371; color: #fff; height: 60px; padding: 8px 18px; border-top: 7px solid #1BBC9B;font-size: 14px;margin-top:20px}
.menu-box-alert {background:#EFEFEF;margin:10px 0 10px 10px;text-align: left;padding: 10px;width: 18.6%; float: left; min-height: 200px;}
 .error {color:red !important;font-size:11px !important;}
 .menu-box-alert{background:#EFEFEF;margin:10px 0 10px 10px;text-align: left;padding: 10px;width: 97.6%; float: left; min-height: 200px;} 
/*media queries*/

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){

	.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{

    font-size: 10px;
    padding-right: 5px;
    padding-left: 5px;
	}

.inner-container .btn-dashboard{font-size:0.75em;}
}

@media all and (min-device-width : 768px)  and (max-device-width : 1024px) and (orientation : portrait){

	.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{

   font-size: 9px;
    padding-right: 4px;
    padding-left: 4px;
	}
	
	header .col-xs-12 {
    width: 50%;
}
}
/*
@media all and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){

	.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    font-size: 10px;
    padding-right: 8px;
    padding-left: 8px;
	}
}
*/
@media (min-width : 768px) and (max-width : 1024px){
	.navbar .m-for-ipad {padding-left:0!important;padding-right:0!important;}
}


@media all and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){
	.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{ font-size: 14px; padding-right: 6px; padding-left: 6px;	}
	.inner-container .btn-dashboard{font-size:0.75em;}
	.menu-section .col-md-2{ width:22%;	margin-right: -10px !important; margin-top: 15px;}
}


/*iphone*/
@media all and (min-device-width : 375px) and (max-device-width : 667px) { 
menu-section{margin:60px 0;}
.inner-container .btn-dashboard{font-size:0.75em;}
.announcements-text{display:inline;padding:0 5px;}

}

@media all and (min-device-width : 350px) and (max-device-width : 700px) { 


header .col-xs-12{text-align:center}
}


@media all and (min-width : 1024px) {
.menu-box{width: 18.6%; }
    .home .container {width:60%;}
}
@media all and (max-width : 490px) {
	.login-logo img {width: 98%}
    .home.main-content{background:none}
}

@media all and (max-width : 767px) {
	.carousel {display: none;}
	.login-content-right {margin-left: 0!important;}
	.menu-header .head{font-weight: normal;font-size: 12px;padding-left: 0px}
	.menu-header .date { font-size: 12px; padding-right: 5px;font-weight: normal;}
    .fc-scroller {height:auto!important}
    .td.fc-list-item-title hr { margin: 4px 0; }
    
    
    .navbar-default .navbar-header img { height: 75px; margin-top: 0; width: auto; }
    .navbar-default { border-color: transparent; }
    .navbar-brand { padding: 5px 5px 5px 10px; }
    .navbar-toggle {margin-top: 18px;}
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { background-color: transparent; }    
    .navbar.navbar-default .navbar-nav {margin-top: 0;}
    .navbar-nav .open .dropdown-menu > li > a img { margin-right: 5px; }
    .navbar-default{background-color: #3a5371; }
}

@media (max-width: 568px) {
	.menu-section .menu-box{width: 100%;}
	.menu-section .menu-box { width: 94%; margin-bottom: 0; }
	.menu-err.menu-name, .menu-name { min-height: 50px;}
	.menu-box {min-height: 150px;}
    
}

@media (max-width: 667px) {
    .home-container {padding: 20px 0;}
    .home-container .thumbnail {width: auto;}
    .thumbnail .caption a { font-size: 0.8em; }
    .home-container .thumbnail a > img, .home-container .thumbnail > img { width: 30px; }
    .menu .text-green { text-align: left; font-size: 1em; }
    .main-content > .text-right { text-align: left !important; }
    section.blue-box { margin: 0; }
    .dataTable tr, .dataTable td { font-size: 0.9em;}
    .main-content h1 { font-size: 1.5em; }
    hr.m-hr { margin-bottom: 8px; margin-top: 6px; }
    .edit-profile .nav-tabs > li { width: 100%;}
    .edit-profile .tab-content > .active {padding: 10px;}
    .min-h { min-height: auto; }
    
    
}

@media  (min-width: 360px)  and (max-width: 667px) and (orientation: landscape) { 
	.menu-box{width: 30%;}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.menu-box{width: 17.5%;}
}

/*
@media all and (max-width : 767px)  {

}
*/
@media all and (max-width : 768px) {
	
 .fc-content hr{
  margin-top: 5px;
        margin-bottom: 5px;
 }
 .menu .text-green{margin:0}
 .main-content .fc-toolbar h2 {
       font-size: 1.3em;
 }
 .navbar-nav .open .dropdown-menu{
   padding-left: 20px;
       background-color: #F7F586 !important;
 }
}