
/* colors
--------------------------------------------------------------------------------------------------*/

body {
	background: #fff;
}

body,
#head a,
#docs-page .sidebar a {
	color: #444;
}

a,
#nav li.selected a,
#nav li a:hover,
#docs-index-content li a:hover,
#docs-page .sidebar li.selected a,
#docs-page .sidebar a:hover {
	color: #1197C1; /* light blue link color */
}

#nav li.selected a {
	border-color: #ffd446;
}

#banner {
	background: #27a0c9;
}

#banner,
#banner a { /* override */
	color: #fff;
}

#banner {
	text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}

#docs-page #banner .breadcrumbs a {
	border-bottom-color: rgba(255, 255, 255, .4);
}

#docs-page #banner .breadcrumbs a:hover {
	border-bottom-color: #fff;
}

#banner .docs-versions li.selected a {
	border-color: #fff;
}

#banner .docs-versions li.old.selected a {
	color: rgb(255, 228, 138);
	border-color: rgb(255, 228, 138);
}

pre,
code {
	background: #f2f2f2;
	border-color: #ddd;
}

#foot {
	background: none; /* override */
	color: #aab7bc;
}

#foot a {
	color: #6dd2f4;
}


/* text
--------------------------------------------------------------------------------------------------*/

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
}

a {
	text-decoration: none;
}

p {
	line-height: 1.7;
	margin: 1.1em 0;
}

#banner p a,
#body a:hover,
#foot a:hover {
	text-decoration: underline;
}

b, strong {
	font-weight: 700;
}

h1, h2, h3, h4, h5, th {
	font-weight: 400;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 16px;
}

code,
.spec {
	font-family: Monaco,Consolas,"Lucida Console",monospace;
	font-size: .8em;
}

.spec code {
	font-size: 1em; /* don't compound */
}


/* normalization
--------------------------------------------------------------------------------------------------*/

ul, ol {
	margin: 1.5em 0 1.5em 3em;
	padding: 0;
}

li {
	margin: 1em 0;
}

dl {
	margin: 2em 0 2em 2em;
	padding: 0;
}

dt {
	margin: 1.5em 0 0;
	padding: 0;
}

dd {
	margin: 1em 0 1em 2em;
}


h2, h3, h4, h5 {
	margin: 2.25em 0 1.25em;
}

h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
	margin-top: 1.25em;
}

.content table {
}

.content td,
.content th {
	
}

pre,
code.block {
	display: block;
	margin: 1.5em 0;
	padding: .5em;
	border-style: solid;
	border-width: 1px;
	line-height: 1.7;
}

code {
	border-style: solid;
	border-width: 0 0 1px;
	padding: 0 1px;
}

pre code {
	background: none;
	border: 0;
}


/* main structure
--------------------------------------------------------------------------------------------------*/

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	min-width: 900px;
	display: flex;
	flex-direction: column;
}

.section {
	flex-grow: 0;
	flex-shrink: 0;
}

#foot {
	flex-grow: 1;
}

/* when there's no flexbox support, prevent margins from bleeding */
.section:before,
.section:after {
	content: "";
	display: table;
	clear: both;
}

.section > div {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 30px;
}


/* head
--------------------------------------------------------------------------------------------------*/

#head > div {
	margin-top: 24px;
	margin-bottom: 24px;
}

#logo { /* an <img> */
	vertical-align: middle;
	border: 0; /* because it's in a link */
}

#head h1 {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 4px;
	font-size: 36px;
}

#head h1 span {
	margin-right: 2px;
	font-weight: 100;
}

#nav {
	list-style: none;
	margin: 12px 0 0;
	padding: 0;
	font-size: 18px;
	font-weight: 400;
}

#nav li {
	float: left;
	margin: 0 0 0 25px;
}

#nav li.selected a {
	padding-bottom: 2px;
	border-style: solid;
	border-width: 0 0 2px;
}


/* banner
--------------------------------------------------------------------------------------------------*/

#banner > div {
	margin-top: 29px;
	margin-bottom: 29px;
}

#banner h2 {
	font-size: 26px;
	margin: .8em 0;
}


/* body
--------------------------------------------------------------------------------------------------*/

#body > div {
	margin-top: 29px;
	margin-bottom: 49px;
}


/* footer
--------------------------------------------------------------------------------------------------*/

#foot {
	font-size: 14px;
	background: #484d4f;
}

#foot > div {
	margin-top: 39px;
	margin-bottom: 39px;
}

#foot h3,
#foot ul,
#foot li,
#foot p {
	margin: 1em 0;
	font-size: 14px;
	line-height: 1.5em;
}

#foot > div > .right {
	text-align: right;
}

#foot > div > .left,
#foot > div > .right {
	margin: -1em 0; /* combat margins+floating */
}

.line-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.line-list li {
	display: inline;
	margin: 0;
}

.line-list li:before {
	content: "\000B7\000A0"; /* put dots in between the links */
	margin: 0 4px;
}

.line-list li:first-child:before {
	display: none; /* don't put dot before first one */
}

.featured-posts ul {
	margin: 0;
	padding: 0;
}

.featured-posts li {
	margin: 1em 0;
	list-style: none;
}


/* common
--------------------------------------------------------------------------------------------------*/

/* float-positioning */

.left { float: left }
.right { float: right }
.clear { clear: both }

/* 2-column structure */

.two-col {
	display: table;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

.two-col > .content,
.two-col > .sidebar {
	display: table-cell;
	vertical-align: top;
}

.two-col > .content {
	width: 99%;
}

.two-col > .sidebar {
	width: 1%;
	white-space: nowrap;
}


/* homepage
--------------------------------------------------------------------------------------------------*/

#index-page .two-col {
	margin: 49px 0 50px;
}

#index-page #calendar {
	font-size: 14px;
}

#index-page #calendar a[data-goto] {
	color: inherit;
}

#index-page #calendar .fc-event {
	/* adjust hue */
	background-color: #3b91ad; 
	border-color: #3b91ad;
}

#index-page #calendar .fc-event:hover {
	text-decoration: none; /* undo a previous rule */
}

#index-page .larger-link-wrap {
	margin-top: 1em;
}

#index-page .larger-link-wrap,
#index-page .sidebar ul {
	font-size: 14px;
}

#index-page .sidebar {
	padding-left: 45px;
}

#index-page .sidebar h3 {
	margin-top: .4em;
	font-size: 16px;
}

#index-page .sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#index-page .sidebar li {
	margin: 1em 0;
	padding: 0;
}


/* scheduler homepage
--------------------------------------------------------------------------------------------------*/

.banner-nav {
	float: right;
	list-style: none;
	margin: 0 -20px;
}

.banner-nav li {
	float: left;
	margin: 4px 20px 0;
}

#banner .banner-nav a {
	font-size: 20px;
	padding: 4px 0;
	color: #FFEEBC;
	border-bottom: 2px solid transparent;
}

#banner .banner-nav li a:hover {
	border-bottom-color: rgba(255, 255, 255, .4);
}

#banner .banner-nav li.selected a {
	border-bottom-color: #fff;
}


/* common
--------------------------------------------------------------------------------------------------*/

.button--primary,
.button--affirmative {
	box-sizing: border-box;
	display: inline-block;
	height: 40px;
	line-height: 36px; /* 40 minus border */
	border: 0;
	padding: 0 14px;
	font-size: 16px;
	cursor: pointer;
	text-shadow: 0 1px 1px rgba(0,0,0,.5);
}

.button--block {
	width: 100%;
}

.button--primary:hover,
.button--affirmative:hover {
	text-decoration: underline;
}

.button--primary {
	color: #fff;
	background: #ff5413;
	border-bottom: 4px solid #b33100;
}

.button--affirmative {
	color: #fff;
	background: #23ad00;
	border-bottom: 4px solid #156700;
}

/* in-context help */

.question-link {
	cursor: pointer;
	color: inherit; /* for <a> */
	text-decoration: none !important;
}

.question-link span {
	padding-bottom: 1px;
	border-bottom: 1px solid #ccc;
}

.question-link:hover {
	color: #1197C1 !important;
}

.question-link:hover span {
	border-bottom-color: transparent;
}

/* popover */

.webui-popover {
	background-color: #fff7e0 !important;
}

.webui-arrow:after {
	border-top-color: #fff7e0 !important;
	border-bottom-color: #fff7e0 !important;
}

.webui-popover-content {
	line-height: 1.5;
	padding: 14px 19px !important;
}

.webui-popover-content p {
	margin: 0;
}

.webui-popover-content ul {
	margin: 0;
	padding: 0;
}

.webui-popover-content li {
	margin: 0.5em 0 0.5em 2em;
	padding: 0;
}