<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Form->postLink(
                __('Delete'),
                ['action' => 'delete', $thaaliSurvey->id],
                ['confirm' => __('Are you sure you want to delete # {0}?', $thaaliSurvey->id)]
            )
        ?></li>
        <li><?= $this->Html->link(__('List Thaali Survey'), ['action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('List Users'), ['controller' => 'Users', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New User'), ['controller' => 'Users', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="thaaliSurvey form large-9 medium-8 columns content">
    <?= $this->Form->create($thaaliSurvey) ?>
    <fieldset>
        <legend><?= __('Edit Thaali Survey') ?></legend>
        <?php
            echo $this->Form->input('user_id', ['options' => $users]);
            echo $this->Form->input('thaali_id');
            echo $this->Form->input('thaali_taste');
            echo $this->Form->input('thaali_qty');
            echo $this->Form->input('rating');
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
