<style>
table {
    border-collapse: collapse;
	border=0;
}
</style>
<table border="0" width="100%" cellpadding="0"  style="border-color:#fff;margin-top:0px; font-size: 13pt;">
	    <?php
		$count = count($labellist);
        $rowcnt = $count/3; 
		if($count!= 0){
			$i = 1 ;
			
			echo '<tr>';
			foreach ($labellist as $user):
				//$userName = ucwords($user['first_name']).' '.ucwords($user['middle_name']).' '.ucwords($user['last_name']);
$userName = ucwords($user['first_name']).' '.' '.ucwords($user['last_name']);
				$mobilNo = $user['mobile_phone'] ;
				switch ($user['thaali_size']) {
					case '0': $thaaliSize = 'None';break;
					case '1': $thaaliSize = 'Small';break;
					case '2': $thaaliSize = 'Medium';break;
					case '3': $thaaliSize = 'Large';break;
					case '4': $thaaliSize = 'X-Small';break;
					case '5': $thaaliSize = 'X-Large';break;
				}
				$thaaliDate = h( date("m/d/Y",strtotime($user['delivery_date'])));
				$driverName = ucwords($user['driver_name']);
				
				if($user['color_code'] != ''){
					$color = $user['color_code'];
				}else{
					
					$color = '#000000';
				}
				
				echo '<td align="center" style="border-color:#ffffff;border=0px;height:100px;width:300px;padding-top:25px;"><font color="'.$color.'"</font><b>'.$userName.'</b><br/>'.$mobilNo.'<br/><b>'.$thaaliSize.'</b> - '.$thaaliDate.'<br/>';
				echo ($driverName == '' ? 'Pick Up':$driverName);
				echo "</td>";
				if($i%3 == 0){
					if ($i%30 == 0) {
						echo "</table>";
						echo '<table border="0" width="100%" cellpadding="0"  style="margin-top:10px;border-color:#fff; font-size: 13pt;">';
						echo '<tr>'; 
					}
					else	if($i != $count) {
						echo '</tr><tr>';
						 
					}
				}
				
				$i++;
				
			endforeach; 
			$rem = $count%3;
			$rem = 3-$rem;
			if ($rem != 3) {
				for($j=0;$j<$rem;$j++)
				echo '<td  style="border-color: #ffffff;"></td>';
            }
			echo '</tr>';
			}	
			if($rowcnt < 8 ) {
				for($j=$rowcnt;$j<15;$j++)
					echo '<tr><td style="border-color: #fff;"></td>
            		          <td style="border-color: #fff;"></td>
            		          <td style="border-color: #fff;"></td></tr>';
			}
		?>
 </table>
