<?php $total = 0 ;?>
<?php foreach ($thaaliSizes as $key => $value) { ?>
							  <tr>
								<td align="left"><?= $value ?></td>
								<td align="right">
								 
								<?= (array_key_exists($key,$todaysThaali)) ? $todaysThaali[$key]:'0'; ?>
								<?php $total += @$todaysThaali[$key];?>
								</td>
							  </tr>
							<?php } ?> 
							<tr>
							 	<td align="left">Total</td>
							 	<td align="right"><?= $total;?></td>
							 </tr> 