 
          <div class="col-md-12 col-sm-12 col-xs-12 menu-header">
           	<div class='row'>   
            	<div class="col-md-12 col-sm-12Ccol-xs-4 head text-right date">
            		<a title = 'Previous Week'  href="javascript:void(0)" onclick="getThaali('<?= $prevWeek;?>')"><</a> &nbsp;&nbsp;
            		<a title = 'Next Week'  href="javascript:void(0)" onclick="getThaali('<?= $nextWeek;?>')">></a>
            	</div>
            </div>   
            <div class='row'>    
           		<div class="col-md-6 col-sm-6 col-xs-4 head ">THAALI MENU</div>
                <div class="col-md-6 col-sm-6 col-xs-8 text-right date"><?= $start. " to ". $end?></div>
            </div>
  		  </div> 
           <div class="row">
        <?php   $wdates = array();
         		$wdate =  date('Y-m-d', strtotime($start)) ;
         		array_push($wdates,$wdate);
                    for($i=0;$i<4;$i++) {
                    		 $wdate =  date('Y-m-d', strtotime($wdate. ' + 1 days'));
                    		// date_format($wdate,"Y-m-d");
                    		 array_push($wdates,$wdate);
					 }
		?>
           <?php if (count($thisWeekCalendar) > 0) { ?>  <div class="menu-section col-md-12 text-center">
           <?php foreach($wdates as $wdate) { ?>
           
              <?php 
							$i = 0;$status ="0";
							$offset = '';
						    
							//date_format($wdate,"Y-m-d");//echo "<pre>";print_r($thisWeekCalendar);exit;
							foreach ($thisWeekCalendar as $thaali):
							if ($i == 0)
								$offset = "col-md-offset-1";
							else $offset = '';
							
						if($wdate ==$thaali['date'] ) {	$status ="1";
							
			 ?>
                <div class="menu-box col-sm-12">
	                <h4><?= date('l m/d/Y', strtotime($thaali['date']))?></h4>
	  				<div class="<?= ($thaali['type'] == 'Miqat'? 'menu-err' : '')?> menu-name">
		              	<?= ucwords($thaali['title'])?>
		              	<?php if ($thaali['type'] == 'Miqat') { ?>
		              	<?= ucwords($thaali['details'])?>
		              	<?php } ?>
	                </div>
		            <div class="caterer-info">
		              <?php if ($thaali['type'] != 'Miqat') { ?>
		              	<?= ($thaali['type'] != 'Miqat'? 'Caterer:' : '')?>  <?= ucwords($thaali['details'])?>
		              <?php } ?>
		            </div>
                </div>
            	<?php } ?>
            	 
	               
		        <?php 
            	 	$i++; endforeach; 
            	 	if($status == 0){
            	 		?>
            	 		<div class="menu-box col-sm-12">
            	 		<h4><?= date('l m/d/Y', strtotime($wdate))?></h4>
            	 			  				<div class="menu-err menu-name">
            	 				              	 No Thaali
            	 			                </div>
            	 	     </div>		                
            	 	<?php }  	                
            	 	}
				 
		?>

             </div>
               <?php } else { ?>
               <div class="menu-section col-md-12 text-center">
   					<div class="menu-box col-sm-12">
 						<h4>No Thaali scheduled for this week.</h4>
               		</div>
   			</div>
            
               <?php } ?>
                    </div>
